{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
  <style>
    .outline ul li{
      color:red;
      list-style:none;
      margin-left:-30px;
      margin-top:10px;
    }
  </style>
{% endblock %}
{% block body %}

   {% include "partials_nav.html.twig" %}

    <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <h1 style="text-align:center;">Register Form</h1>
      {{form_start(registrationForm)}}
        <div class="outline mb-4">
          {{ form_label(registrationForm.firstname, null) }}
          {{ form_widget(registrationForm.firstname) }}
          {{ form_errors(registrationForm.firstname, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="outline mb-4">
          {{ form_label(registrationForm.lastname, null) }}
          {{ form_widget(registrationForm.lastname) }}
          {{ form_errors(registrationForm.lastname, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="outline mb-4">
          {{ form_label(registrationForm.gender, null) }}
          {{ form_widget(registrationForm.gender) }}
          {{ form_errors(registrationForm.gender, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="outline mb-4">
          {{ form_label(registrationForm.email, null) }}
          {{ form_widget(registrationForm.email) }}
          {{ form_errors(registrationForm.email, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="outline mb-4">
          {{ form_label(registrationForm.phone, null) }}
          {{ form_widget(registrationForm.phone) }}
          {{ form_errors(registrationForm.phone, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="outline mb-4">
          {{ form_label(registrationForm.password.first, null) }}
          {{ form_widget(registrationForm.password.first) }}
          {{ form_errors(registrationForm.password.first, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="outline mb-4">
          {{ form_label(registrationForm.password.second, null) }}
          {{ form_widget(registrationForm.password.second) }}
          {{ form_errors(registrationForm.password.second, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="outline mb-4">
          {{ form_label(registrationForm.address, null) }}
          {{ form_widget(registrationForm.address) }}
          {{ form_errors(registrationForm.address, {'attr': {'class' : 'text-danger'}}) }}
      </div>
        <div class="outline mb-4">
          {{ form_label(registrationForm.city, null) }}
          {{ form_widget(registrationForm.city) }}
          {{ form_errors(registrationForm.city, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="outline mb-4">
            {{ form_label(registrationForm.zipcode, null) }}
            {{ form_widget(registrationForm.zipcode) }}
            {{ form_errors(registrationForm.zipcode, {'attr': {'class' : 'text-danger'}}) }}
         </div>
        <div class="outline mb-4">
            {{ form_label(registrationForm.country, null) }}
            {{ form_widget(registrationForm.country) }}
            {{ form_errors(registrationForm.country, {'attr': {'class' : 'text-danger'}}) }}
         </div>
         <div class="outline mb-4">
            <label class="form-check-label" >
               {{ form_widget(registrationForm.agreeTerms) }}
               <span>
                  I agree to the <a href="#">terms and conditions</a>
               </span>
            </label>
            {{ form_errors(registrationForm.agreeTerms) }}
            </div>

            <div class="outline mb-4">
            {{ form_end(registrationForm, {'label': 'S\'inscrire', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            </div>
            </div>
            </div>
    
{% endblock %}
