{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    body {
    overflow: hidden;
    }
    #bottom {
        display: none!important;
    }
    #reservation1{
        display: flex;
        flex-wrap: wrap;
        height:390px;   
    }
    #form {
        padding: 5rem 1rem;
    }
    .form-wrapper {
        padding: 0.6rem 0.1rem;
        background: white;
    }
    .form-group {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        width: 93vw;
    }
    .form-group, .form-group-vip, .buttons {
        transform: translateX(10px);
    }
    .form-group textarea {
        resize: vertical;
    }
    .btn {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        border: none;
        padding: 0.8rem 0.75rem;
        font-weight: 500;
    }
    .supprBtn {
        padding: 0.8rem 0.45rem;
    }
    .form-check-inpt:checked {
        background-color: var(--yellowGreen);
        color: white;
    }
    .form-check-inpt:focus {
        border: 3px solid var(--yellowGreen);
        background-color: rgba(232, 233, 243, .1); 
        box-shadow: 0px 0px 0px black;
    }
    .form-check-inpt, #reservation1_vip{
        width: 40px;
        padding: 1.5rem;
        border-radius: 0px;
        margin-top: 0.5rem;
        border: 3px solid black;
        background-color: rgba(240, 134, 50, .1);
        background: var(--yellowGreen);
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
    }
    .form-group input,
    .form-group textarea,
    .form-group select {
        font-size: 14px;
        padding: 5px;
        border-radius: 0.5px;
        margin-top: 0.5rem;
        border: 1px solid black;
        cursor: pointer;
    }
    .form-group > input:focus , .form-group > *:focus , 
    .form-group > input:hover, select:hover, select:active, .form-group > option,
    .form-control > option {
        border: 0.5px solid #95C623;
        box-shadow: 0px 0px 0px black;
        color: black;
    }
    select {
        text-transform: none;
        word-wrap: normal;
    }
    .form-group > label {
        margin-right: 10px;
    }   
    .form-group label, .form-group-vip > label {
        margin-top: 10px;
    }
    .buttons > * , #reservation1_submit{
        margin: 20px 0 0px;
        font-size: 1.2rem!important;
        color: black;
        border-radius: 0;
        text-transform: uppercase;
        border: 3px solid black!important;
        font-weight: 500!important;
        background: rgba(149, 198, 35, .8);
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
    }
    .buttons > *:hover , #reservation1_submit:hover{
        background: rgba(232, 233, 243, .5);
        border: 3px solid var(--yellowGreen)!important;
        text-shadow: 2px 3px 1px var(--yellowGreen);
    }
    form .supprBtn {
        background: var(--orange);
    }
    .form-group input {
        margin: 0;
    }
    #reservation1_date, #reservation1_heure {
        background: none;
        border: none;
    }
    #principal > div > form > label {
        font-size: 8px;
    }
    .form-control, .form-select {
        padding: 1px;
        color: black;
    }
    .buttons {
        display:flex;
        width: 90vw;
    }
    #principal > div > form > div:nth-child(1) > ul > li {
        font-size: 10px;
        list-style-type: none;
        position: absolute;
        z-index: 20!important;
        left: 0;
        top:-23%;
        color: #DD2D4A;
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        padding: 70px auto;
    }
{% include "partials_footer_version_classic.style.twig" %}
</style>
{% endblock %}

{% block body %}
<div class="form-wrapper">
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.date, 'Date') }}
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.date) }}
        </div>
        <div class="form-group">
            {{ form_label(form.heure, 'Heure') }}
            {{ form_widget(form.heure, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.heure) }}
        </div>
        <div class="form-group">
            {{ form_label(form.reservation_name, 'Nom') }}
            {{ form_widget(form.reservation_name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.reservation_name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.restaurant_name, 'Restaurant') }}
            {{ form_widget(form.restaurant_name, {'attr': {'placeholder': 'Restaurant à choisir', 'class': 'form-select'}}) }}
            {{ form_errors(form.restaurant_name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.number, 'Couverts') }}
            {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.number) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email', 'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="form-group-vip">
            {{ form_label(form.vip) }}
            {{ form_widget(form.vip, { 'attr': {'class': 'form-check-inpt'} }) }}
            {{ form_errors(form.vip) }}
        </div>
        {% endif %} 
        
    {{ form_end(form) }}
    {# <div class="buttons">
        <button class="btn">Confirmer</button>

    </div> #}
    

</div>
{% endblock %}
