{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
{% block stylesheets %}
{% include "partials/footer_version_classic.style.twig"%}
<style>
 {
    height: 250px;
    width: 25vw;
} 
body {
    background: transparent!important;
    width: 100vw;
}
#zig-zags::after {
    display:none;
}
footer {
    margin-top: 300px;
}
.container {
    margin-top: 170px;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 900px;
    flex-direction: column;
}
#title-wrapper, #time-wrapper {
    transform: translateY(250px);
    display:flex;
    justify-content: center;
    text-align: left;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}
#time-wrapper {
    flex-direction: column;
    text-align: center;
    transform: translateY(150px);
    margin-bottom: -100px;
}
#time-wrapper h2 {
    margin: 10px;
}
h1 {
    font-size: clamp(18px, 7vw, 2.5rem);
    {# margin-left: 0; #}
    width: 900px;
}
h1, h2 {
    margin-top: -105px;
    margin-bottom: 40px;
}
.aligned-inputs {
    display:flex;
    justify-content: space-between;
    gap: 3%;
    margin-bottom: 1.2rem;
}
.aligned-inputs > div {
    width: 50%;
}
.form-group label {
	font-size: 1.3rem;
}
.form-group input,
.form-group textarea,
.form-group select,
.form-control{
	font-size: 18px;
	background-color: none;
	font-weight: 400;
	padding: 1rem;
	border-radius: 2px;
	margin-top: 0.8rem;
	color: var(--raisinBlack);
    border: 3px solid black;
}
.form-group input,
.form-group textarea,
.form-group select,
.message-input {
    background: rgba(240, 134, 50, .1);
    backdrop-filter: blur(20px);
}
.form-group > input:focus , .form-group > *:focus ,
.message-input:focus {
    border: 3px solid var(--yellowGreen);
    background-color: rgba(232, 233, 243, .1); 
    box-shadow: 0px 0px 0px black;
}
.msg {
    height: 240px;
}
.message-input {
    height: 180px;
}

button {
    margin: 30px 0 50px;
    color: black;
    text-transform: uppercase;
    border: 3px solid black!important;
    font-weight: 500;
    background: rgba(149, 198, 35, .8);
    backdrop-filter: blur(10px);
	padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
}
button:hover {
    background: rgba(232, 233, 243, .5);
    border: 3px solid var(--yellowGreen)!important;
    text-shadow: 2px 3px 1px var(--yellowGreen);
}
.wrong {
    color: var(--rustyRed);
    padding: 16px 0 ;
    margin-top: -26px ;
    font-size: 1.3rem;
    position: relative;
    z-index:5;
}
iframe {
    margin-bottom: 200px;
}
#cubes {
    display:flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
    margin-bottom: 50px;
}
.aCube h6 {
    font-size: 20px;
}
.aCube {
    background: rgba(232, 233, 243, .5);
    backdrop-filter: blur(10px);
    width: 180px;
    height: 120px;
    padding: 2rem;
    cursor: pointer;
}
.aCube:hover {
    padding: 2rem;
    background: rgba(149, 198, 35, .6);
    {# border: 3px solid var(--yellowGreen); #}
    {# text-shadow: 1px 1px 1px var(--yellowGreen); #}
}


@media screen and (max-width: 651px) {
    .container form{
        width: 90vw;
    }
    .container input, button {
        width: 87vw;
    }
    input, .message-input{
        width: 70vw;
    }
    button {
        margin: 50px auto;
    }
}

</style>
{% endblock %}
{% include "partials/_nav.html.twig"%}
<div id="title-wrapper">
    <h1 class="noMove">Trois restaurants à Paris</h1>
</div>
<div id="time-wrapper">
    <h2>Mardi - Samedi</h2>
    <h2>10h - 22h</h2>
</div>
<div class="container">
    

    <div id="cubes">
        <div class="aCube">
            <h6>Monge</h6>
            <h5>PARIS 5</h5>
        </div>
        <div class="aCube">
            <h6>Emile Level</h6>
            <h5>PARIS 17</h5>
        </div>
        <div class="aCube">
            <h6>Alésia</h6>
            <h5>PARIS 14</h5>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5508.769557160819!2d2.3184090915541558!3d48.82918659678285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671b165dc8e19%3A0x325bbe2c5c3f5c71!2sRue%20d&#39;Al%C3%A9sia%2C%2075014%20Paris!5e0!3m2!1sfr!2sfr!4v1682939104790!5m2!1sfr!2sfr" width="900" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>Ecrivez-nous</h2>
    <div>
        {{ form_start(formulaire, {'attr': {'onsubmit':'launchModal()'}}) }}
            {{ form_errors(formulaire) }}
            <div class="aligned-inputs">
                <div class="form-group">
                    {{ form_label(formulaire.nom, 'Votre nom', {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(formulaire.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formulaire.nom) }}
                </div>
                <div class="form-group">
                    {{ form_label(formulaire.mail, 'Votre adresse e-mail', {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(formulaire.mail, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formulaire.mail) }}
                </div>
            </div>
            <div class="form-group msg">
                {{ form_label(formulaire.message, 'Votre message', {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(formulaire.message, {'attr': {'class': 'form-control message-input'}}) }}
                {{ form_errors(formulaire.message) }}
            </div>

            <div class="form-group">
              {{ form_widget(formulaire.envoyer, {'attr': {'class':''}}) }}
            </div>
        {{ form_end(formulaire) }}
    </div>
</div>
{% include "partials/modal.html.twig"%}

{% endblock %}

