{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
{% block stylesheets %}
{% include "partials/footer_version_classic.style.twig"%}
<style>
    body {
        background: transparent!important;
        width: 100vw;
    }
    #zig-zags::after {
        display:none;
    }
    footer {
        margin-top: 300px;
    }
    .container {
        margin-top: 170px;
        height: 100%;
        display: flex;
        justify-content: center;
        width: 900px;
        flex-direction: column;
    }
    #title-wrapper, #time-wrapper {
        transform: translateY(250px);
        display:flex;
        justify-content: center;
        text-align: left;
        position: relative;
        z-index: 1;
        margin-bottom: 100px;
    }
    #time-wrapper {
        flex-direction: column;
        text-align: center;
        transform: translateY(150px);
        margin-bottom: -100px;
    }
    #time-wrapper h2 {
        margin: 10px;
    }
    #time-wrapper h2:nth-child(1){
        text-shadow: 1px 3px 1px var(--orange);
    }
    h1 {
        font-size: clamp(18px, 7vw, 2.5rem);
        width: 900px;
        {# position: absolute;position #}
    }
    .notStressed {
        margin-left: 95px;
        position: absolute;
        -webkit-animation: visible 1500ms ease-out;
                animation: visible 1500ms ease-out;
    }
    .stressed {
        color: var(--yellowGreen);
        text-shadow: 0px 2px 3px var(--orange);
        font-weight: 600;
        font-size: 150px;
        position: absolute;
        margin-top: -25px;
        margin-left: 15px;
        -webkit-animation: popDown 1.5s ease-in-out;
                animation: popDown 1.5s ease-in-out;
    }
    h1, h2 {
        margin-top: -105px;
        margin-bottom: 40px;
    }
    .aligned-inputs {
        display:flex;
        justify-content: space-between;
        gap: 3%;
        margin-bottom: 1.2rem;
    }
    .aligned-inputs > div {
        width: 50%;
    }
    .form-group label {
        font-size: 1.3rem;
    }
    .form-group input,
    .form-group textarea,
    .form-group select,
    .form-control{
        font-size: 18px;
        background-color: none;
        font-weight: 400;
        padding: 1rem;
        border-radius: 2px;
        margin-top: 0.8rem;
        color: var(--raisinBlack);
        border: 3px solid black;
    }
    .form-group input,
    .form-group textarea,
    .form-group select,
    .message-input {
        background: rgba(240, 134, 50, .1);
        -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
    }
    .form-group > input:focus, 
    .form-group > *:focus,
    .message-input:focus {
        border: 3px solid var(--yellowGreen);
        background-color: rgba(232, 233, 243, .1); 
        box-shadow: 0px 0px 0px black;
    }
    .msg {
        height: 240px;
    }
    .message-input {
        height: 180px;
    }
    button {
        margin: 30px 0 50px;
        color: black;
        text-transform: uppercase;
        border: 3px solid black!important;
        font-weight: 500;
        background: rgba(149, 198, 35, .8);
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        padding: 1rem 2rem;
        font-size: 1.1rem;
        font-weight: 600;
    }
    button:hover {
        background: rgba(232, 233, 243, .5);
        border: 3px solid var(--yellowGreen)!important;
        text-shadow: 2px 3px 1px var(--yellowGreen);
    }
    .wrong {
        color: var(--rustyRed);
        padding: 16px 0 ;
        margin-top: -26px ;
        font-size: 1.3rem;
        position: relative;
        z-index:5;
    }
    iframe {
        margin-bottom: 200px;
    }
    #cubes {
        display:flex;
        justify-content: center;
        gap: 15px;
        text-align: center;
        margin-bottom: 50px;
        position:relative;
        z-index: 10;
    }
    .aCube h6 {
        font-size: clamp(18px, 3vw, 20px);
    }
    .aCube h5 {
        font-size: clamp(18px, 4vw, 26px);
    }
    .aCube:nth-child(3) {
        position: relative;
        z-index: 10;
        display: block;
        background: none;
    }
    .aCube:nth-child(3)::after {
        content:'';
        position: absolute;
        z-index: -1;
        width: 180px;
        height: 120px;
        background: rgba(232, 233, 243, .5);
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        display:block;
        left:0;
        top:0;
    }
    .aCube:nth-child(3)::before {
        content: url('{{ asset('IMG/leaf.png') }}');
        z-index: -10;
        height:100%;
        width: 100%;
        scale: .75;
        right: -40%;
        bottom:230%;
        position: absolute;
        -webkit-animation: visible 3500ms ease-out;
                animation: visible 3500ms ease-out;
    }
    .aCube {
        background: rgba(232, 233, 243, .5);
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        width: 180px;
        height: 120px;
        padding: 2rem;
        cursor: pointer;
    }
    .aCube:hover {
        padding: 2rem;
        background: rgba(149, 198, 35, .6);
    }

    #principal > div.container > h2 {
        font-size: clamp(14px, 7vw, 2.1rem);
    }
    @media screen and (max-width: 1000px) {
        #theMap {
            margin-left:-15px;
            width: 100vw;
            height: 400px;
        }
        .container {
            margin-left: 0;
            width: 100vw;
        }
        #cubes {
        width: 100vw;
            margin-left:-15px;

    } 
    form {
        width:95vw;
    }
    }
    @media screen and (max-width: 815px) {
        .aCube:nth-child(3)::before {
        scale: .6;
        right: 40%;
        bottom:180%;
        position: absolute;
        -webkit-animation: visible 3500ms ease-out;
                animation: visible 3500ms ease-out;
    }
    }
    @media screen and (max-width: 790px) {
    
    .aCube {
        padding: 1.5rem;
    }
    .aCube:hover {
        padding: 1.5rem;
        background: rgba(149, 198, 35, .6);
    }
    .aCube h5 {
        font-weight: 600;

    }
    }
    @media screen and (max-width: 700px) {
        .aligned-inputs {
        display:flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 1.2rem;
        }
        .aligned-inputs > div, .message-input, button{
            width: 90vw;
        }
    }
    @media screen and (max-width: 651px) {
        .container form{
            width: 80vw;
        }

        button {
            margin: 50px auto;
        }
    }
</style>
{% endblock %}
{% include "partials/_nav.html.twig"%}
{% include "partials/modal.html.twig"%}
<div id="title-wrapper">
    <h1 class="noMove"><span class="stressed">3</span><span class="notStressed"> Restaurants à Paris</span></h1>
</div>
<div id="time-wrapper">
    <h2>Mardi - Samedi</h2>
    <h2>10h - 22h</h2>
</div>
<div class="container">
    <div id="cubes">
        <div class="aCube" onclick="selectedMonge()">
            <h6>Monge</h6>
            <h5>PARIS 5</h5>
        </div>
        <div class="aCube" onclick="selectedEmile()">
            <h6>Emile Level</h6>
            <h5>PARIS 17</h5>
        </div>
        <div class="aCube" onclick="selectedAlesia()">
            <h6>Alésia</h6>
            <h5>PARIS 14</h5>
        </div>
    </div>
    <iframe id="theMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.580555079651!2d2.3235003762861224!3d48.82806397132809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671b165dc8e19%3A0x325bbe2c5c3f5c71!2sRue%20d&#39;Al%C3%A9sia%2C%2075014%20Paris%2C%20France!5e0!3m2!1sfr!2snl!4v1682959251823!5m2!1sfr!2snl" width="900" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>Ecrivez-nous</h2>
    <div>
        {{ form_start(formulaire, {'attr': {'onsubmit':'launchModal()'}}) }}
            {{ form_errors(formulaire) }}
            <div class="aligned-inputs">
                <div class="form-group">
                    {{ form_label(formulaire.nom, 'Votre nom', {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(formulaire.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formulaire.nom) }}
                </div>
                <div class="form-group">
                    {{ form_label(formulaire.mail, 'Votre adresse e-mail', {'attr': {'class': 'form-label'}}) }}
                    {{ form_widget(formulaire.mail, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formulaire.mail) }}
                </div>
            </div>
            <div class="form-group msg">
                {{ form_label(formulaire.message, 'Votre message', {'attr': {'class': 'form-label'}}) }}
                {{ form_widget(formulaire.message, {'attr': {'class': 'form-control message-input'}}) }}
                {{ form_errors(formulaire.message) }}
            </div>

            <div class="form-group">
              {{ form_widget(formulaire.envoyer, {'attr': {'class':''}}) }}
            </div>
        {{ form_end(formulaire) }}
    </div>
</div>
{% block javascript %}
<script>
const MONGE = document.querySelector("#cubes > div:nth-child(1)");
const EMILE = document.querySelector("#cubes > div:nth-child(2)");
const ALESIA = document.querySelector("#cubes > div:nth-child(3)");
const MAP =  document.getElementById("theMap");
const initialSrc = MAP.src;
function selectedMonge() {
    MONGE.style.background = "rgba(149, 198, 35, .6)";
    EMILE.style.background = "rgba(232, 233, 243, .5)";
    ALESIA.style.background = "none"

    MAP.src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.7554246120526!2d2.3497294762870493!3d48.84380367133018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671ef16f950ab%3A0x2aa0b4f9c146252d!2sRue%20Monge%2C%2075005%20Paris%2C%20France!5e0!3m2!1sfr!2snl!4v1682957725389!5m2!1sfr!2snl";
};
function selectedEmile() {
    MONGE.style.background = "rgba(232, 233, 243, .5)";
    EMILE.style.background = "rgba(149, 198, 35, .6)";
    ALESIA.style.background = "none";
    MAP.src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.142494377222!2d2.316040176290117!3d48.8936214713369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fa96995ebc9%3A0xe2adbee8f2616310!2sRue%20%C3%89mile%20Level%2C%2075017%20Paris%2C%20France!5e0!3m2!1sfr!2snl!4v1682957850023!5m2!1sfr!2snl";
};
function selectedAlesia() {
    MONGE.style.background = "rgba(232, 233, 243, .5)";
    EMILE.style.background = "rgba(232, 233, 243, .5)";
    ALESIA.style.background = "rgba(149, 198, 35, .9)";
    MAP.src = initialSrc;
};
selectedAlesia();

</script>
{% endblock %}
{% endblock %}

